---
//@ts-nocheck
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "../../style/mutual.css";

export async function getStaticPaths() {
  const url = "https://kktyplinqgygnnagbsib.supabase.co/rest/v1/matchasaet";

  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrdHlwbGlucWd5Z25uYWdic2liIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg2MzY2MjcsImV4cCI6MTk5NDIxMjYyN30.eim5AhzEGy_kEp2s9c-TN-mL3YdGy2KBYYxO4DX58ds",
    },
  };

  const response = await fetch(url, options);
  const data = await response.json();

  console.log(data)

  return data.map((matchasaet) => ({
    params: { slug: matchasaet.slug },
    props: { matchasaet },
  }));
}

const { matchasaet } = Astro.props;

---


<Header />



<section class="grid_singleview">
  <div class="img">
  <img class="billede" src={`/matchasaetbilleder/${matchasaet.image}`} alt="" />
  </div>
  <div class="grid2" >
    <img src={matchasaet.image} alt="" />
    <h2 class="overskrift">{matchasaet.overskrift}</h2>
    <h3 class="kategori">{matchasaet.kategori}</h3>
    <h4 class="pris">{matchasaet.pris}</h4>
    <div class="tekst">
      <p>{matchasaet.tekst}</p>
    </div>
    <div>
      <p class="plus">- 1 +</p>
    </div>
    <button>TILFØJ TIL KURV</button>
    </div>
</section>



<Footer />

<style>
  /* mobilefirst version*/
  .grid_singleview {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 30px;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: var(--Primitives-Farver-Beige-02);
    margin: 5%;
    margin-bottom: 12%;
  }

  .plus {
    font-family: "avenirnext-regular";
    font-size: 15px;
    margin-left: 3%;
    border-style: solid;
    border-color: var(--Primitives-Farver-Hvid-sort-09);
    width: 40%;
    letter-spacing: 12px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    margin-left: 5%;
  }
  .billede {
    width: 100%;
    height: auto;
    border-radius: 30px 30px 0px 0px;
  }

  .overskrift {
    font-family: "didotltstd-roman";
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2%;
    margin-top: 4%;
  }

  .kategori {
    font-family: "didotltstd-roman";
    font-size: 20px;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2%;
  }

  .pris {
    font-family: "didotltstd-roman";
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2%;
  }

  .tekst {
    font-family: "avenirnext-regular";
    line-height: 1.5em;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2%;
  }

  button {
    font-size: 15px;
    width: 200px;
    background-color: var(--Semantik-Knap-Red);
    font-family: "avenirnext-regular";
    border-radius: 50px;
    color: var(--Semantik-Text-Knaptext-White);
    cursor: pointer;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5%;
    margin-left: 4%;
    border: solid;
    border-color: var(--Semantik-Knap-Red);
    font-weight: bold;
  }

  button:hover {
    background-color: var(--Primitives-Farver-Beige-02);
    color: var(--Semantik-Text-Knaptext-red);
    border-color: var(--Semantik-Knap-Red);
    border: solid;
  }

  body {
  background-color: var(--Semantik-Baggrund-Beige);
    }

  @media (min-width: 820px) {
    .plus {
      font-family: "avenirnext-regular";
      font-size: 20px;
      margin-left: 9%;
      border-style: solid;
      border-color: var(--Primitives-Farver-Hvid-sort-09);
      width: 15%;
      letter-spacing: 12px;
      padding-left: 20px;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }

  /* desktop version*/
  @media (min-width: 1000px) {
    .grid_singleview {
      display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 7%;
        border-radius: 30px;
        margin-left: 150px;
        margin-right: 150px;
        padding: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        background-color: var(--Primitives-Farver-Beige-02);
        margin-bottom: 60px;
        margin-top: 30px;
    }
    .plus {
      font-family: "avenirnext-regular";
      font-size: 15px;
      border-style: solid;
      border-color: var(--Primitives-Farver-Hvid-sort-09);
      width: 25%;
      letter-spacing: 12px;
      padding-left: 20px;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-left: 6%;
    }

    .billede {
      width: 100%;
      height: 100%;
      border-radius: 30px 0px 0px 30px;
    }

    .overskrift {
      font-family:  "didotltstd-roman";
      font-size: 40px;
      margin-left: 4%;
      margin-top: 4%;
    }

    .kategori {
      font-family:  "didotltstd-roman";
      font-size: 25px;
      padding-top: 22px;
      margin-left: 4%;
    }
    .pris {
      font-family: "didotltstd-roman";
      font-size: 20px;
      padding-top: 18px;
      margin-left: 4%;
    }

    .tekst {
      font-family: "avenirnext-regular";
      line-height: 1.5em;
      font-size: 15px;
      padding-top: 20px;
      padding-bottom: 24px;
      margin-left: 4%;
    }

    button {
      background-color: var(--Semantik-Knap-Red);
      border-radius: 50px;
      font-family: "avenirnext-regular";
      color: var(--Semantik-Knap-Hvid);
      cursor: pointer;
      font-size: 15px;
      width: 200px;
      margin-top: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-left: 5%;
      margin-bottom: 5%;
      border-style: solid;
      border: solid;
      border-color: var(--Semantik-Knap-Red);
      font-weight: bold;
    }
  button:hover {
    background-color: var(--Primitives-Farver-Beige-02);
    color: var(--Semantik-Text-Knaptext-red);
    border-color: var(--Semantik-Knap-Red);
  }
}

@media (min-width:1900px){

    .overskrift{
      font-size: 45px;
    }
    .tekst{
      font-size: 20px;
    }

    .kategori{
      font-size: 35px;
    }

    .pris{
      font-size: 30px;
    }

    .plus{
      font-size: 20px;
      width: 22%;
    }

    button{
      font-size: 20px;
      width: 220px;
      font-family: "avenirnext-regular";
      font-weight: bold;
    }
  }

</style>