---
const { indhold } = Astro.props;
import Matchasaetkort from "../components/Matchasaetkort.astro";
import { Debug } from "astro/components";

---

<section>
  {
    indhold.map((produkter) => (
      <Matchasaetkort aktiv={produkter.aktiv} link={"/matchasaet/" + produkter.slug} image={`/matchasaetbilleder/${produkter.image}`} overskrift={produkter.overskrift} kategori={produkter.kategori} pris={produkter.pris} tekst={produkter.tekst} />
    ))
  }
</section>

<style>
  img {
    width: 100%;
    padding: 30px;
  }

  h4 {
    font-family: "avenirnext-regular";
    font-size: 20px;
    margin: 20px;
  }

  p {
    font-family: "avenirnext-regular";
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
  }

  .produkt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
  }

  h2 {
    margin-top: 1.5em;
    border-bottom: 1px solid var(--brandbg);
    color: var(--brandbg);
  }
  section {
    display: grid;
    gap: 1em;
    padding-bottom: 50px;
    padding-top: 30px;
  }
  @media screen and (min-width: 600px) {
    section {
      grid-template-columns: repeat(auto-fit, 350px);
      justify-content: center;
    }
  }

  @media (max-width: 820px){
    section{
      display: grid;
      grid-template-columns: 1fr;
    }
  } 
</style>
