---
//@ts-nocheck
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "../../style/mutual.css";

export async function getStaticPaths() {
  const url = "https://kktyplinqgygnnagbsib.supabase.co/rest/v1/shop";

  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrdHlwbGlucWd5Z25uYWdic2liIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg2MzY2MjcsImV4cCI6MTk5NDIxMjYyN30.eim5AhzEGy_kEp2s9c-TN-mL3YdGy2KBYYxO4DX58ds",
    },
  };

  const response = await fetch(url, options);
  const data = await response.json();

  console.log(data)

  return data.map((shop) => ({
    params: { slug: shop.slug },
    props: { shop },
  }));
}

const { shop } = Astro.props;

---


<Header />

<ul class="breadcrumb">
  <li><a href="/shopalt">Shop</a></li>
  <li><a href="/shop">Matcha produkter</a></li>
</ul>



<section class="grid_singleview">
  <div class="img">
  <img class="billede" src={`/produktbilleder/${shop.image}`} alt="" />
  </div>
  <div class="grid2" >
    <img src={shop.image} alt="" />
    <h2 class="overskrift">{shop.overskrift}</h2>
    <h3 class="kategori">{shop.kategori}</h3>
    <h4 class="pris">{shop.pris} </h4>
    <div class="tekst">
      <p>{shop.tekst}</p>
    </div>
    <div>
      <p class="plus">- 1 +</p>
    </div>
    <button>TILFØJ TIL KURV</button>

<div class="semere">
  <hr>
  <div class="col">
    <p>Detaljer om varen</p>
    <p>+</p>
  </div>
  <hr>
      <div class="col">
    <p>Ofte stillede spørgsmål</p>
    <p>+</p>
  </div>
  <hr>
</div>
    
</section>




<Footer />

<style>
  /* mobile version*/

  .semere p{
    font-family: "avenirnext-regular";
    font-size: 15px;
  }

.semere {
  padding-top: 40px;
  padding-bottom: 10px;
}

.col {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-inline: 6%;
  margin-left: 15px;
}

hr {
  margin-inline: 4%;
}


.plus {
  font-family: "avenirnext-regular";
    font-size: 15px;
    margin-left: 3%;
    border-style: solid;
    border-color: var(--Primitives-Farver-Hvid-sort-09);
    width: 40%;
    letter-spacing: 12px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
  }
  .grid_singleview {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }

  body{
    background-color: var(--Semantik-Baggrund-Beige);
  }
  .grid_singleview {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 30px;
    padding: 30px 10px 30px 10px
  }
  .billede {
    width: 100%;
    height: auto;
    border-radius: 30px;
    /* margin-left: 8%; */
  }

  .overskrift {
    font-family: "didotltstd-roman";
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .kategori {
    font-family: "didotltstd-roman";
    font-size: 20px;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .pris {
    font-family: "didotltstd-roman";
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .tekst {
    font-family: "avenirnext-regular";
    line-height: 1.5em;
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  button {
    font-size: 15px;
    width: 200px;
    border: none;
    background-color: var(--Semantik-Knap-Red);
    font-family: "avenirnext-regular";
    border-radius: 50px;
    color: var(--Semantik-Text-Knaptext-White);
    cursor: pointer;
    /* padding: 10px; */
    margin-top: 25px;
    margin-left: 2%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid;
    border-color: var(--Semantik-Knap-Red);
  }

  button:hover {
    background-color: var(--Semantik-Baggrund-Beige);
    color: var(--Semantik-Text-Knaptext-red);
    border-color: var(--Semantik-Knap-Red);
    border: solid;
  }


ul.breadcrumb {
  padding: 10px 10px;
  list-style: none;
  padding-top: 30px;
  margin-left: 11%;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--Primitives-Farver-Hvid-sort-09);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: var(--Primitives-Farver-Hvid-sort-09);
  text-decoration: none;
  font-family: "avenirnext-regular";
  font-size: 15px;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: var(--Semantik-Knap-Red);
  text-decoration: none;
}


  /* mobil version*/
  @media (min-width: 820px) {

    .plus {
      font-family: "avenirnext-regular";
      font-size: 20px;
      margin-left: 9%;
      border-style: solid;
      border-color: var(--Primitives-Farver-Hvid-sort-09);
      width: 15%;
      letter-spacing: 12px;
      padding-left: 20px;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .overskrift {
      margin-left: 4%;
    }

    .kategori {
      margin-left: 4%;
    }

    .plus {
      margin-left: 4%;
    }

    .tekst {
      margin-left: 4%;
    }

    .pris {
      margin-left: 4%;
    }

    button {
      margin-left: 4%;
    }
  
  }

  /* desktop version*/
  @media (min-width: 1000px) {
    .grid_singleview {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 75px 70px 0px;
        margin-left: 7%;
    }

    .col {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 50%;
    margin-left: 4%;
  }

  .semere {
    padding-top: 130px;
    margin-left: 2%;
  }

  hr {
    margin-right: 50%;
    margin-left: 4%;
    }

  .plus {
      font-family: "avenirnext-regular";
      font-size: 15px;
      border-style: solid;
      border-color: var(--Primitives-Farver-Hvid-sort-09);
      width: 25%;
      letter-spacing: 12px;
      padding-left: 20px;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-left: 6%;
    }
    .billede {
      width: 90%;
      height: auto;
      border-radius: 30px;
      margin-left: 9%;
      margin-top: 20px;
    }

    .overskrift {
      font-family: "didotltstd-roman";
      font-size: 40px;
      padding-top: 0px;
    }

    .kategori {
      font-family: "didotltstd-roman";
      font-size: 25px;
      padding-top: 15px;
      
    }

    .pris {
      font-family: "didotltstd-roman";
      font-size: 20px;
      padding-top: 18px;
      padding-bottom: 10px;
    }

    .tekst {
      font-family: "avenirnext-regular";
      line-height: 1.5em;
      font-size: 15px;
      padding-top: 5px;
      padding-bottom: 28px;
      margin-right: 36px;
    }

    button {
      background-color: var(--Semantik-Knap-Red);
      border-radius: 50px;
      font-family: "avenirnext-regular";
      color: var(--Semantik-Knap-Hvid);
      cursor: pointer;
      font-size: 15px;
      width: 200px;
      border: solid;
      border-color: var(--Semantik-Knap-Red);
      margin-top: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-left: 5%;
    }
  }

  @media (min-width:1900px){
    .overskrift{
      font-size: 45px;
    }
    .tekst{
      font-size: 20px;
    }

    .kategori{
      font-size: 35px;
    }

    .pris{
      font-size: 30px;
    }

    .plus{
      font-size: 20px;
      width: 22%;
    }

    button{
      font-size: 20px;
      width: 220px;
    }
  }
</style>
