---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "../../style/mutual.css";

export async function getStaticPaths() {
  const url = "https://yetmrunotjrgzgmcchxy.supabase.co/rest/v1/shop";

  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldG1ydW5vdGpyZ3pnbWNjaHh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MjE2MjksImV4cCI6MTk5NDI5NzYyOX0.3nyW3iCZSlvah2mVwALnccNLM39VwIq4g5xXUpR9L5g",
    },
  };

  const response = await fetch(url, options);
  const data = await response.json();

  return data.map((shop) => ({
    params: { slug: shop.slug },
    props: { shop },
  }));
}

const { shop } = Astro.props;
---

<Header />

<section class="grid_singleview">
  <div class="img">
  <img class="billede" src={`/produkt_billeder/${shop.image}`} alt="" />
  </div>
  <div class="grid2" >
    <img src={shop.image} alt="" />
    <h2 class="overskrift">{shop.overskrift}</h2>
    <h3 class="designer">{shop.designer}</h3>
    <h4 class="pris">{shop.pris} DKK</h4>
    <div class="tekst">
      <p>{shop.tekst}</p>
    </div>
    <div>
      <p class="plus">- 1 +</p>
    </div>
    <button>TILFØJ TIL KURV</button>


<div class="semere">
    <hr>
    <div class="col">
      <p>Detaljer om varen</p>
      <p>+</p>
    </div>
    <hr>
    <div class="col">
      <p>Læs om keramikeren</p>
      <p>+</p>
    </div>
    <hr>
        <div class="col">
      <p>Ofte stillede spørgsmål</p>
      <p>+</p>
    </div>
    <hr>

  </div>
    
</section>




<Footer />

<style>
  /* mobilefirst version*/

  .semere p{
    font-family: "Raleway", sans-serif;
    font-size: 15px;
  }

.semere {
  padding-top: 20px;
  padding-bottom: 24px;
}

.col {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-inline: 9%;
}

hr {
  margin-inline: 9%;
}
  .grid_singleview {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }
  .billede {
    width: 100%;
    padding: 30px;
  }

  .overskrift {
    font-family: "commuters-sans", sans-serif;
    font-size: 25px;
    margin-left: 9%;
  }

  .designer {
    font-family: "commuters-sans", sans-serif;
    font-size: 15px;
    padding-top: 18px;
    margin-left: 9%;
  }

  .pris {
    font-family: "commuters-sans", sans-serif;
    font-size: 15px;
    margin-left: 9%;
    padding-top: 15px;
  }

  .tekst {
    font-family: "Raleway", sans-serif;
    line-height: 1.5em;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 24px;
    margin-left: 9%;
  }

  .plus {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin-left: 9%;
    border-style: solid;
    border-color: #a9a9a9;
    width: 30%;
    letter-spacing: 12px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
  }

  button {
    font-size: 15px;
    margin-left: 9%;
    width: 200px;
    border: none;
    background-color: #977a15;
    font-family: "Raleway", sans-serif;
    border-radius: 5px;
    color: #f4ede5;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
  }

  button:hover {
    background-color: #D3BCB0;
    color: black;
  }

  /* tablet version*/
  @media (min-width: 820px) {
    .plus {
      font-family: "Raleway", sans-serif;
      font-size: 20px;
      margin-left: 9%;
      border-style: solid;
      border-color: #a9a9a9;
      width: 15%;
      letter-spacing: 12px;
      padding-left: 20px;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .overskrift {
      margin-left: 4%;
    }

    .designer {
      margin-left: 4%;
    }

    .plus {
      margin-left: 4%;
    }

    .tekst {
      margin-left: 4%;
    }

    .pris {
      margin-left: 4%;
    }

    button {
      margin-left: 4%;
    }

  
  }

  /* desktop version*/
  @media (min-width: 1000px) {
    .grid_singleview {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
.col {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 50%;
  margin-left: 4%;
}

.semere {
  padding-top: 78px;
  padding-bottom: 24px;
}

hr {
  margin-right: 50%;
  margin-left: 4%;
}
    .billede {
      width: 80%;
      padding: 30px;
      margin-left: 20%;
    }

    .overskrift {
      font-family: "commuters-sans", sans-serif;
      font-size: 30px;
      padding-top: 50px;
     
    }

    .designer {
      font-family: "commuters-sans", sans-serif;
      font-size: 15px;
      padding-top: 22px;
      
    }

    .pris {
      font-family: "commuters-sans", sans-serif;
      font-size: 15px;
   
      padding-top: 18px;
    }

    .tekst {
      font-family: "Raleway", sans-serif;
      line-height: 1.5em;
      font-size: 15px;
      padding-top: 20px;
      padding-bottom: 24px;
      
    }

    .plus {
      font-family: "Raleway", sans-serif;
      font-size: 20px;
      
      border-style: solid;
      border-color: #a9a9a9;
      width: 20%;
      letter-spacing: 12px;
      padding-left: 20px;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    button {
      background-color: #977a15;
      border-radius: 5px;
      font-family: "Raleway", sans-serif;
      color: #f4ede5;
      cursor: pointer;
      font-size: 15px;
      width: 200px;
      border: none;
      padding: 10px;
      margin-top: 20px;
    }

    button:hover {
      background-color: #D3BCB0;
      color: black;
    }
  }
</style>
